html
  // -ms-overflow-style: none
  // scrollbar-width: none

body
  font-family: 'Trebuchet MS'
  font-style: normal
  font-weight: 400
  font-size: 13px
  line-height: 15px
  color: $color-white
  height: 100vh

main
  height: 100vh

.container
  max-width: 1120px
  margin: auto

.footer
  height: 550px
