<div class="@@class card-food">
  <div class="card-food__back back">
    <div class="back__elem back__elem_parallelogram"></div>
    <!-- /.card-food__parallelogram -->
    <div class="back__elem back__elem_corner"></div>
    <!-- /.card-food__corner -->

    <div class="back__elem back__elem_lower">
      <div class="back__img">
        <img src="img/cart-food-bg.png" alt="Cat" />
      </div>
      <!-- /.back__img -->
    </div>
    <!-- /.card-food__lower -->

    <div class="card-food__info">
      <span class="card-food__tagline">Сказочное заморское яство</span>
      <h3 class="card-food__title">Нямушка</h3>
      <h4 class="card-food__subtitle">@@subtitle</h4>
      <div class="card-food__offer">
        <span class="card-food__text"> </span>
      </div>
      <!-- /.card-food__offer -->
      <div class="card-food__price">
        <span class="card-food__num">@@weight</span>
        <span class="card-food__unit">кг</span>
      </div>
      <!-- /.card-food__price -->
    </div>
    <!-- /.card-food__info -->
  </div>
  <!-- /.card-food__back -->
  <div class="card-food__description description"></div>

  <!-- /.card-food__description -->
</div>
<!-- /.card-food -->
