.card-food
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 320px
  min-height: 509px
  color: $color-black
  overflow: hidden
  z-index: 1
  margin-bottom: 31px
  &::after
    content: ''
    position: absolute
    top: 0
    left: -24px
    display: block
    width: 45px
    height: 45px
    background: transparent
    transform: skew(-45deg)
    cursor: default

  &_disabled
    .card-food__back
      cursor: default
    .card-food__tagline,.card-food__title,.card-food__subtitle,.card-food__offer
      color: $color-disabled
      opacity: 0.5

  &__back
    display: flex
    position: relative
    width: 100%
    min-height: 480px
    border-radius: 12px
    overflow: hidden
    cursor: pointer

  &__info
    padding: 21px 16px 16px 51px
    display: flex
    flex-direction: column
    flex-basis: 100%

  &__tagline
    font-family: 'Trebuchet MS', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    color: $color-text
    margin-bottom: 5px
    transition: all 0.3s
  &__title
    font-family: 'Trebuchet MS', sans-serif
    font-weight: 700
    font-size: 48px
    line-height: 56px
    margin-left: -3px
  &__subtitle
    font-family: 'Trebuchet MS', sans-serif
    font-weight: 700
    font-size: 24px
    line-height: 26px
    margin-bottom: 16px
  &__offer
    display: flex
    flex-direction: column
    font-size: 14px
    line-height: 16px
    color: $color-text
  &__price
    padding: 20px 0 8px 0
    align-self: end
    width: 80px
    height: 80px
    background: $color-blue
    border-radius: 50%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    color: $color-white
    margin-top: auto
    margin-bottom: 0
    transition: all 0.3s
    &_hover
      background: $color-hover
      transition: all 0.3s
    &_selected
      background: $color-selected
      transition: all 0.3s
    &_selected-hover
      background: $color-selected-hover
      transition: all 0.3s
    &_disabled
      background: $color-disabled

  &__num
    font-size: 42px
    line-height: 22px
    margin-bottom: 5px
  &__unit
    font-size: 21px
    line-height: 22px

  &__btn
    @include no-btn
    color: $color-blue
    &_text
      border-bottom: 1px dashed $color-blue
      font-weight: 700
    &:hover
      color: $color-hover

.description
  display: flex
  justify-content: space-between
  min-width: 210px
  color: $color-white
  &_disabled
    color: $color-disabled-text

////////////////////////////////////////
.back
  &__elem
    position: absolute
    border-style: solid
    @include card-border ($color-blue)
    &_hover
      @include card-border ($color-hover)
    &_selected
      @include card-border ($color-selected)
    &_selected-hover
      @include card-border ($color-selected-hover)
    &_disabled
      @include card-border ($color-disabled)
    &_parallelogram
      top: 0
      left: 18px
      width: 100%
      height: 50px
      border-width: 4px 0 0 6px
      transform: skew(-45deg)
      background: $color-card-food-bg
      z-index: -3

    &_corner
      top: 0
      right: 0
      width: calc( 100% - 45px )
      height: 45px
      border-width: 4px 4px 0 0
      border-radius: 0 12px 0 0
      z-index: -3
    &_lower
      bottom: 0
      right: 0
      width: 100%
      height: calc( 100% - 45px )
      border-width: 0 4px 4px 4px
      border-radius: 0 0 12px 12px
      background: $color-card-food-bg
      z-index: -1
      overflow: hidden

  &__img
    position: absolute
    left: -28px
    bottom: -92px
    width: 322px
    height: 315px
    z-index: 1
    opacity: 1
    width: 368px
    height: 360px
    &_disabled
      opacity: 0.5
